@font-face {
    font-family: police_wos;
    src: url(../fonts/shojumaru-regular-webfont.woff);
  }

.ul{
        list-style-type: none;
        padding:0;
         margin:0;
         list-style-type:none;
         
      }
   
      
body{

background-image: url("BGMontagnes.png") ;
background-repeat: no-repeat;
background-size:cover;

}

#fond-toit {
  background-image: url("ensembleFond.png");
  background-repeat: no-repeat;
    display:flex;
    flex-direction: column;
    width: 1689px;
    height:2296px;
    padding-left:225px;
    padding-top:30px;
    margin-left:0;

}



 
